.description{
    width: 99%;
    height: 99%;
}
.head{
    width: 90%;
    height: 15%;
    margin: auto;
}
.head h1{
    color: wheat;
    text-align: center;
    font-size: 35px;
    line-height: 35px;
    font-weight: 450;
    margin-top: -1px;
}
.green-text {
    color: green;
    font-weight: 600;
  }

  .desc{
    width: 70%;
    height: 80%;
    margin: auto;
  }
  .row{
    width: 100%;
    height: 10%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    color: aliceblue;
  }
  .icon-container {
    background-color: white;
    color: aliceblue;
    display: inline-block; /* Ensures the background color only covers the icon area */
    padding: 10px; /* Add padding for spacing */
  }
  h2{
    color: aliceblue;
    font-weight: 400;
    text-align: center;
    margin-top: 4px;
    margin-left: 15px;
    align-items: center;
  }
  .icon{
    font-size: 45px;
    margin: 1px;
  }








