/* Reset some default styles */
body, ul {
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-left {
  width: 35%;
  display: flex;
  align-items: center;
}
.navbar-right{
  width: 50%;
  display: flex;
  justify-content: end;
  gap: 5%;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(to right, #007bff, #525ac0);
  -webkit-background-clip: text;
  color: transparent;
  margin-right: 20px;
}
.courses{
  padding: 10px 20px;
  cursor: pointer;
}
.programs{
  padding: 10px 20px;
  cursor: pointer;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.menu {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.menu li {
  margin-right: 15px;
  cursor: pointer;
}

.join-now {
  background-color: #007bff;
  color: #fff;
  border: none;
  background: linear-gradient(to right, #007bff, #525ac0);
  padding: 10px 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
}

.search-icon {
  font-size: 1.5rem;
  margin-right: 20px;
  cursor: pointer;
}

.search-box {
  display: inline-block;
  margin-right: 20px;
}

.search-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  outline: none;
}

.login-btn {
  border: none;
  padding: 10px 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  color: black;
  cursor: pointer;
}
.login-btn:hover{
  background-color: #007bff;
  color: #fff;
  color: #fff;
  border: none;
  background: linear-gradient(to right, #007bff, #525ac0);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .menu-icon {
  display: block;
  }
  .courses,
  .programs,
   .join-now,
  .login-btn {
    display: none;
  }


  .menu-icon {
    margin-right: 0;
  }

  .search-box {
    margin-right: 0;
  }

  .navbar-right.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
  }
}
